* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rectangle {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid black;
}
